@using Utility;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CASPAR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CASPAR.styles.css" asp-append-version="true" />
    <!-- Austin adding links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.28/sweetalert2.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <a class="navbar-brand"><img src="~/images/wsu_horiz1_reverse.png" /> </a>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CASPAR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole(SD.AdminRole))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu">
                                    

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageBuilding/Index">Buildings</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageCampus/Index">Campus</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageClassrooms/Index">Classrooms</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ClassroomFeatures/Index">Classroom Features</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ClassroomFeaturePossessions/Index">Classroom Feature Possession</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/Courses/Index">Courses</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/DayBlocks/Index">Day Blocks</a>
                                    @* <a class="dropdown-item text-dark" asp-page="/Admins/ManageInstructors/Index">Instructors</a> *@
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageReleaseTime/Index">Manage Release Time</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageLoadTime/Index">Manage Load Time</a>
                                    @* <a class="dropdown-item text-dark" asp-page="/Admins/InstructorReleaseTimes/InstructorReleaseTimes">Instructor Release Times</a>                                   *@
                                    <a class="dropdown-item text-dark" asp-page="/Admins/Majors/Index">Majors</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/MeetingTimes/Index">Meeting Times</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageModality/Index">Modality</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/PartOfTerms/Index">Part Of Terms</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManagePayModel/Index">Pay Model</a>
                                    @* <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Register">Register a User</a> *@
                                    @* <a class="dropdown-item text-dark" asp-page="/Admins/ManageSections">Sections</a> *@
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageSectionStatus/Index">Section Status</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/Semesters/Index">Semesters</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/SemestersStatus/Index">Semester Statuses</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/CourseSemesters/Index">Semester Templates</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/SemesterTypes/Index">Semester Types</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/TimeBlocks/Index">Time Blocks</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/UniPrograms/Index">Uni Programs</a>
                                    <a class="dropdown-item text-dark" asp-page="/Admins/ManageWhoPays/Index">Who Pays</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Roles/Index">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Users/Index">Users</a>
                            </li>
                          
                        } 

                        @if (User.IsInRole(SD.SecretaryRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Program Coordinator</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" asp-page="/ProgramCoordinator/SemesterPicker">Home Page</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(SD.ProgramCoordinatorRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Program Coordinator</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" asp-page="/ProgramCoordinator/SemesterPicker">Home Page</a>
                                </div>
                            </li>
                        }



                        @if (User.IsInRole(SD.InstructorRole))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Instructor</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" asp-page="/Instructors/InstructorWishlistHome">Wishlist Home Page</a>

                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.StudentRole))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Student</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" asp-page="/Students/StudentWishlistHome">Wishlist Home Page</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        </header>
    <div class="container" style="max-width:2000px">
        <main role="main" class="pb-3" >
            <partial name="_ToastrNotification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CASPAR - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Austin adding links-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.28/sweetalert2.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/lqmcr0jyra265wopa8846y9fuk4ou1affxno1s8glmmyh2y5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>