@page
@model CASPAR.Pages.Admins.ManageBuilding.IndexModel

@if (User.IsInRole("Admin")){
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Building List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-route-id="0" asp-page="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Building
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover" id="DT_Buildings" style="width:100%">
        <thead>
            <tr>
                <th>Building Name</th>
                <th>Campus Name</th>
                <th>&nbsp;</th>
                    <th>&nbsp;</th>
            </tr>
        </thead>

    </table>
</div>
}
else
{
    Response.Redirect("../../../..");
}
@section Scripts
    {
    <script src="~/js/building.js"> </script>
}