@page
@model UpsertModel
@{
}

<form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data">
    <input asp-for="objModality.StudentWishlistModalityId" hidden />
    <input asp-for="objModality.StudentWishListDetailsId" hidden />
   
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.objModality.StudentWishlistModalityId != 0 ? "Update " : "Create ")Modality</h2>
                    <hr />
                    <div class="mb-3 col-6">
                        <label asp-for="objModality.ModalityId">Modality</label>
                        <select id="ddlSemesterStatus" asp-for="objModality.ModalityId" asp-items="@Model.ModalityList" class="form-select">
                            <option disabled selected>--Select Modality--</option>
                        </select>
                    </div>
                    <div class="col-12">
                        @if (Model.objModality.StudentWishlistModalityId != 0)
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                        }
                        <!--END ELSE -->
                        <a href="/Students/Modalities/Index?id=@Model.objModality.StudentWishListDetailsId" class="btn btn-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
</form>