@page
@model CASPAR.Pages.Admins.TimeBlocks.UpsertModel
@{
}
@if (User.IsInRole("Admin"))
{
    <div class="container" style="max-width:1100px">
        <form method="post" asp-page="Upsert" enctype="multipart/form-data">
            <input asp-for="objTimeBlock.TimeBlockId" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4 row">
                        <div class="col-12 pb-2">
                            <h2 class="text-primary">@(Model.objTimeBlock.TimeBlockId != 0 ? "Update " : "Create ")Time Block</h2>
                            <hr />
                        </div>
                        <div class="form-floating py-2 col-7">
                            <label asp-for="objTimeBlock.TimeName"></label>
                            <input id="txtName" asp-for="objTimeBlock.TimeName" class="form-control" />
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="objTimeBlock.IsActive"></label>
                            <select asp-for="objTimeBlock.IsActive" asp-items="@Model.isActiveList" class="form-select">
                                <option disabled selected>--Select--</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <!--IF Product being edited -->
                            @if (Model.objTimeBlock.TimeBlockId != 0)
                            {
                                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                            }
                            else
                            {
                                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                            }<!--END ELSE -->

                            <a asp-page="Index" class="btn btn-secondary" style="width:150px">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
else
{
    Response.Redirect("../../../..");
}
@section Scripts{
    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: "file edit format"
        });

        function ValidateInput() {
            if (document.getElementById('txtName').value == "") {
                swal.fire('Error', 'Please Enter a Time Block Name', 'error');
                return false;
            }
            return true;
        }
    </script>
}