@page
@model CASPAR.Pages.Students.IndexModel
@{
}
<h1>This is the Student Page</h1>
<div class="mb-3 col-6">
    <select id="ddlCategory" class="form-select">
        <option disabled selected>--Select Option--</option>
        <option>Manage My Profile</option>
        <option>View My Courses</option>
    </select>
</div>