@page
@model UpsertModel
@{
}

<form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data">
    @if(Model.objStudentWishlistDetails.StudentWishlistDetailsId != 0)
    {
        <input asp-for="objStudentWishlistDetails.StudentWishlistDetailsId" type="hidden" />
    }
    <input asp-for="objStudentWishlistDetails.StudentWishlistId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.objStudentWishlistDetails.StudentWishlistDetailsId != 0 ? "Update " : "Create ")Course</h2>
                    <hr />
                <div class="mb-3 col-6">
                        <label asp-for="objStudentWishlistDetails.CourseId"></label>
                        <select id="ddlSemesterStatus" asp-for="objStudentWishlistDetails.CourseId" asp-items="@Model.CourseList" class="form-select">
                        <option disabled selected>--Select Course--</option>
                        </select>
                </div>
                <div class="form-floating py-2 col-12">
                        <input asp-for="objStudentWishlistDetails.StudentNotes" class="form-control border-0 shadow" />
                        <label asp-for="objStudentWishlistDetails.StudentNotes" class="ms-2">Notes</label>
                        <span asp-validation-for="objStudentWishlistDetails.StudentNotes" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.objStudentWishlistDetails.StudentWishlistDetailsId != 0)
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <!--END ELSE -->
                        <a href="/Students/Courses/WishlistDetails?id=@Model.objStudentWishlistDetails.StudentWishlistId" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
