@page
@model CASPAR.Pages.Admins.SemestersStatus.IndexModel
@{
}
@if (User.IsInRole("Admin"))
{
<div class="container">
    <div class="row pt=4">
        <!--Start Row-->
        <div class="col-6">
            <!--50% of row-->
            <h2 class="text-primary">
                Semester Status List
            </h2>
        </div><!-- End 1st Column-->
        <div class="col-6 text-end">
            <!--50% row right justified-->
            <a asp-page="Upsert" asp-route-id="0" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Semester Status
            </a>
        </div> <!--End 2nd Column-->
    </div> <!--End Row-->
    <table class="table table-bordered table-striped" id="DT_SemesterStatus" style="width:100%">
        <thead>
            <tr>
                <th>
                    Semester Status Name
                </th>
                <th>
                    Semester Status Description
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
</div> <!--Close Container-->
} else {
    Response.Redirect("../../../..");
}
@section Scripts
    {
    <script src="~/js/semesterstatus.js"></script>
    }