@page
@model CASPAR.Pages.Admins.ManageClassrooms.UpsertModel
@{
}

@if (User.IsInRole("Admin"))
{
    <div class="container" style="max-width:1100px">
        <form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data">
            <input asp-for="objClassroom.ClassroomId" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4 row">
                        <div class="col-12 pb-2">
                            <h2 class="text-primary">@(Model.objClassroom.ClassroomId != 0 ? "Update " : "Create ")Classroom</h2>
                            <hr />
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="objClassroom.RoomNumber" class="form-control border-0 shadow" />
                            <label asp-for="objClassroom.RoomNumber" class="ms-2">Classroom Number</label>
                            <span asp-validation-for="objClassroom.RoomNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="objClassroom.Capacity" class="form-control border-0 shadow" />
                            <label asp-for="objClassroom.Capacity" class="ms-2">Capacity</label>
                            <span asp-validation-for="objClassroom.Capacity" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="objClassroom.BuildingId"></label>
                            <select asp-for="objClassroom.BuildingId" asp-items="@Model.BuildingList" class="form-select">
                                <option disabled selected>--Select Building--</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="objClassroom.IsActive"></label>
                            <select asp-for="objClassroom.IsActive" asp-items="@Model.isActiveList" class="form-select">
                                <option disabled selected>--Select--</option>
                            </select>
                        </div>
                        <div class="col-12">
                            @if (Model.objClassroom.ClassroomId != 0)
                            {
                                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                            }
                            else
                            {
                                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                            }
                            <!--END ELSE -->
                            <a asp-page="Index" class="btn btn-secondary" style="width:150px">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
}
else
{
    Response.Redirect("../../../..");
}