@page
@model CASPAR.Pages.Admins.Courses.DeleteModel
@{
}
@if (User.IsInRole("Admin"))
{
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-danger py-2">Delete Course</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="submit">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objCourseList.CoursePrefix" class="form-control border-0 shadow" />
                    <label asp-for="objCourseList.CoursePrefix" class="ms-2">Course Name</label>
                    <span asp-validation-for="objCourseList.CoursePrefix" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objCourseList.CourseNumber" class="form-control border-0 shadow" />
                    <label asp-for="objCourseList.CourseNumber" class="ms-2">Course Name</label>
                    <span asp-validation-for="objCourseList.CourseNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objCourseList.CourseName" class="form-control border-0 shadow" />
                    <label asp-for="objCourseList.CourseName" class="ms-2">Course Name</label>
                    <span asp-validation-for="objCourseList.CourseName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objCourseList.CourseDesc" class="form-control border-0 shadow" />
                    <label asp-for="objCourseList.CourseDesc" class="ms-2">Course Name</label>
                    <span asp-validation-for="objCourseList.CourseDesc" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objCourseList.CreditHours" class="form-control border-0 shadow" />
                    <label asp-for="objCourseList.CreditHours" class="ms-2">Course Name</label>
                    <span asp-validation-for="objCourseList.CreditHours" class="text-danger"></span>
                </div>
                <input asp-for="objCourseList.CourseId" type="hidden">
                <div class="submit pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}
else
{
    Response.Redirect("../../../..");
}