@page
@model CASPAR.Pages.ProgramCoordinator.CRNModel
@{
}

@if (User.IsInRole("Secretary") || User.IsInRole("Admin") || User.IsInRole("Program Coordinator"))
{
<div class="container" style="max-width:1100px">
    <form method="post" asp-page="Upsert" enctype="multipart/form-data">
        <input asp-for="objSection.SectionId" hidden />
        <input asp-for="objSection.SemesterId" hidden />
        <input asp-for="objSection.CourseId" hidden />
        <input asp-for="objSection.ClassroomId" hidden />
        <input asp-for="objSection.DayBlockId" hidden />
        <input asp-for="objSection.FirstWeekEnroll" hidden />
        <input asp-for="objSection.MaxEnrollment" hidden />
        <input asp-for="objSection.ModalityId" hidden />
        <input asp-for="objSection.PartOfTerm" hidden />
        <input asp-for="objSection.PayModelId" hidden />
        <input asp-for="objSection.SectionStatusId" hidden />
         <input asp-for="objSection.ThirdWeekEnroll" hidden />
         <input asp-for="objSection.WhoPaysId" hidden />
         <input asp-for="objSection.ApplicationUserId" hidden />
         <input asp-for="objSection.MeetingTimeId" hidden />
         <input asp-for="objSection.CampusId" hidden />
            <input asp-for="objSection.Notes" hidden />

        <div class="row">
            <div class="col-10">
                <div class="border p-3 mt-4 row">

                    <div class="container">
                        <div class="mb-3 col-6">
                            <!--CRN-->
                            <label asp-for="objSection.Crn"></label>
                            <input asp-for="objSection.Crn" id="crn" type="text" />
                        </div>
                       

                    </div>
                    <div class="col-12">
                        <!--IF Section being edited -->
                        @if (Model.objSection.SectionId != 0)
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                        }<!--END ELSE -->

                        <a asp-page="index" asp-route-id="@(Model.objSection.SemesterId)" class="btn btn-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
}
else
{
    Response.Redirect("../../../..");
}