@page
@model CASPAR.Pages.ProgramCoordinator.IndexModel
@{
}
@if (User.IsInRole("Admin") || User.IsInRole("Secretary") || User.IsInRole("Program Coordinator"))
{
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Program Coordination
            </h2>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Program Coordinator")){
            <a asp-page="Upsert" asp-route-id="@Model.Request.Query["id"]" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add Section
                </a>
            }
    </div>
</div>

<table class="table table-bordered table-hover table-striped compact" id="DT_Sections" style="width:100%">
    <thead>
        <tr>
            <th>Instructor</th>
            <th>Course</th>
            <th>CRN</th>
            <th>Modality</th>
            <th>Hours</th> <!--meeting time-->
            <th>Days</th> <!--day block-->
            <th>Room</th> <!---->
            <th>Max Enroll</th> <!---->
            <th>CRS</th> <!--Credit Hours-->
            <th>POT</th> <!--Part of Term-->
            <th>Campus</th>
            <th>Pay Model </th>
            <th>Who Pays</th>
            <th>Status</th> <!--Section Status -->
            <th>Notes</th>
            <th>Semester</th>
            <th>First Week Enrollment</th>
            <th>Third Week Enrollment</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
</table>
}
else
{
    Response.Redirect("../../../..");
}
@section Scripts
    {
    <script src="/js/programcoordinator.js"></script>
}