@page
@model CASPAR.Pages.ProgramCoordinator.SemesterPickerModel
@{
    ViewData["Title"] = "Manage Semesters";
}
@if (User.IsInRole("Admin") || User.IsInRole("Secretary") || User.IsInRole("Program Coordinator"))
{
    <div class="container">
        <div class="row pt=4">
            <!--Start Row-->
            <div class="col-6">
                <!--50% of row-->
                <h2 class="text-primary">
                    Choose a Semester
                </h2>
            </div><!-- End 1st Column-->
        </div> <!--End Row-->
        <table class="table table-bordered table-striped" id="DT_Semester" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Begin Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Register Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

        </table>
    </div>
}
else
{
    Response.Redirect("../../../..");
}
@section Scripts
    {
    <script src="/js/semesterpicker.js"> </script>
}
