@page
@model CASPAR.Pages.AboutModel
@{
}
<div class="container">

    <div class="card mb-3">
        <div class="card-header">Ashton Chatelain</div>
        <div class="card-body">
            <div class="card-text">Version Control Manager</div>
        </div>

        <div class="card-footer">
            <h5>ashton.chatelain@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/LightEngineARC">@@LightEngineARC</a></h5>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Austin Wilson</div>
        <div class="card-body">
            <div class="card-text">Client Representative</div>
        </div>

        <div class="card-footer">
            <h5>austizoid25@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/austinwilson25">@@austinwilson25</a></h5>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Sebastian Buxman</div>
        <div class="card-body">
            <div class="card-text">Project Manager.</div>
        </div>

        <div class="card-footer">
            <h5>sebastianbuxman10@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/sebastianbuxman">@@sebastianbuxman</a></h5>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Rashad Ramaileh</div>
        <div class="card-body">
            <div class="card-text">Project Manager</div>
        </div>

        <div class="card-footer">
            <h5>rashadramaileh@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/rashadramaileh ">@@rashadramaileh</a></h5>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Shanen Oleson</div>
        <div class="card-body">
            <div class="card-text">Client Representative</div>
        </div>
        <div class="card-body">
            <p>
                I started school in Fall of 2020 at Weber State University to pursue my bachelors of Computer Science with the intentions of gainful
                employment throughout the game development world. I enjoy the coding process as it allows me to see the very beginnings of a project and
                then see it come to life when you're finished. I will graduate with my Bachelors of Computer Science in Spring of 2024.
            </p>
        </div>

        <div class="card-footer">
            <h5>blairwillows98@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/Alyshay98">@@Alyshay98</a></h5>
        </div>
    </div>
</div>
