@page
@model CASPAR.Pages.AboutModel
@{
}
<div class="container">

    <div class="card">
        <div class="card-header">Ashton Chatelain</div>
        <div class="card-body">
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

        <div class="card-footer">
            <h5>ashton.chatelain@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/LightEngineARC">@@LightEngineARC</a></h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Austin Wilson</div>
        <div class="card-body">
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

        <div class="card-footer">
            <h5>email</h5>
            <h5>Github <a href="https://www.github.com/">@@</a></h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Sebastian Buxman</div>
        <div class="card-body">
            <div class="card-text">Semi-competent programmer</div>
        </div>

        <div class="card-footer">
            <h5>sebastianbuxman10@gmail.com</h5>
            <h5>Github <a href="https://www.github.com/sebastianbuxman">@@</a></h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header">user</div>
        <div class="card-body">
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

        <div class="card-footer">
            <h5>email</h5>
            <h5>Github <a href="https://www.github.com/">@@</a></h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Shanen Oleson</div>
        <div class="card-body">
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>

        <div class="card-footer">
            <h5>aemail</h5>
            <h5>Github <a href="https://www.github.com/">@@</a></h5>
        </div>
    </div>
</div>
