@page
@model CASPAR.Pages.Admins.IndexModel
@{
}
<h1>This is the Admin Page</h1>

<div class="mb-3 col-6">
    <select id="ddlCategory" class="form-select">
        <option disabled selected>--Select Option--</option>
        <option>Manage Classrooms</option>
        <option>Manage Courses</option>
        <option>Manage Days of the Week</option>
        <option>Manage Sections</option>
        <option>Manage Semesters</option>
        <option>Manage Modality</option>
        <option>Manage Who Pays</option>
        <option>Manage Pay Model</option>
        <option>Manage SectionStatus</option>
        <option>Manage Classrooms</option>
        <option>Manage Building</option>
        <option>Manage Campus</option>
    </select>
</div>