@page
@model CASPAR.Pages.Admins.ManageCoursesModel
@{
}

<form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">

                </div>
            </div>
        </div>
    </div>
</form>
