@page
@model CASPAR.Pages.Admins.InstructorReleaseTimes.InstructorReleaseTimeModel
@{
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Instructor Release Time
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="IRTUpsert" asp-route-id="0" class="btn btn-primary" style="float:right">
                <i class="bi bi-plus-circle"></i> New Instructor Release Time
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover" id="DT_ReleaseTime" style="width:100%">
        <thead>
            
            <tr>
                <th>Instructor</th>
                <th>Release Time (Fall)</th>
                <th>Release Time (Spring)</th>
                <th>Release Time (Summer)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        
    </table>
</div>


@section Scripts
    {
    <script src="/js/InstructorReleaseTime.js"> </script>
}
