@page
@model CASPAR.Pages.Instructors.Courses.DeleteModel
@{
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-danger py-2">Delete Day Block</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="submit">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objCourse.CourseName" class="form-control border-0 shadow" />
                    <label asp-for="objCourse.CourseName" class="ms-2">Course Name</label>
                    <span asp-validation-for="objDetailsList.CourseId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input readonly asp-for="objDetailsList.InstructorNotes" class="form-control border-0 shadow" />
                    <label asp-for="objDetailsList.InstructorNotes" class="ms-2">Notes</label>
                    <span asp-validation-for="objDetailsList.InstructorNotes" class="text-danger"></span>
                </div>
                <input asp-for="objDetailsList.InstructorWishlistDetailsId" type="hidden">
                <input asp-for="objDetailsList.InstructorWishlistId" hidden />
                <div class="submit pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/Instructors/Courses/WishlistDetails?id=@Model.objDetailsList.InstructorWishlistId" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>